@media screen and (max-width: 576px) {
  .nav-items {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  /* Banner Secion */
  .banner-section {
    display: block;
  }
  .banner-title {
    font-size: 35px;
    line-height: 50px;
    padding-top: 50px;
  }
  .btn {
    padding: 15px 25px;
  }
  .hidden{
    display: block;
  }
  .show{
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner-img{
    text-align: center;
  }
  .banner-img img{
    width: 90%;
  }
  .exersice{
    position: absolute;
    top:20px;
    right: 10px;
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
  .exersice-count {
    position: absolute;
    bottom: 100px;
    left: -10px;
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 25px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }

  /* Habit Change */
  .habit-change{
    display: block;
    padding: 0 0;
  }
  .habit{
    margin: 50px 0 0 0;
  }
  .habit-head h2{
    font-size: 40px;
  }

  /* Running Section */

  .running-section{
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }
  .running-advice h2{
    width: 100%;
    font-size: 32px;
  }
  .running-advice p{
    width: 100%;
    padding: 0;
  }
  .join-now-btn{
    width: 100%;
  }

  /* BMI Calculator */
  .calc-contents{
    flex-direction: column;
  }
  .calc-head h2{
    font-size: 32px;
  }
  .calc-chart h3, .calc-account h3{
    font-size: 20px;
  }
  .calc-account h3{
    padding-top: 30px;
  }
  .box-5{
    width: 94%;
  }
  .calc-btn{
    padding: 13px 80px;
  }

  /* Team Meeting Section */
  .team-persons{
    flex-direction: column;
  }
  .team-person{
    width: 95%;
    margin-top: 10px;
  }
  .team-head h2{
    font-size: 32px;
  }

  /* Footer Section */

  .calculator{
    padding: 30px 0;
  }
  .footer-content{
    flex-direction: column;
    gap: 20px;
  }
  .fitness-logo{
    width: 100%;
  }
 
/* Blogs Section */

.blogs{
  flex-direction: column;
  gap: 60px;
}
.blogs-head h2{
  font-size: 32px;
  
}

}
