/* Primary Styles */

/* Primary Buttons */
.btn{
    padding: 10px 40px;
    border-radius: 42px;
    font-family: "Inter";
    color: white;
    cursor: pointer;
}
.btn-with-bg{
    background: rgb(230, 83, 60);
}
.buttons{
    margin: 30px 0;
}